---
title: 情報セキュリティ基本方針
---
<%= partial 'layouts/header' %>
<section id='inner-headline'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <ul class='breadcrumb'>
          <li>
            <a href='/'>
              <i class='fa fa-home'></i>
            </a>
            <i class='icon-angle-right'></i>
          </li>
          <li class='active'>情報セキュリティ基本方針</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id='content'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2'>
        <h2 class='heading'>情報セキュリティ基本方針</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2'>
        <p>
          ダブルメガネ株式会社（以下、当社）は、お客様からお預かりした情報資産を事故・災害・犯罪などの脅威から守り、お客様ならびに社会の信頼に応えるべく、以下の方針に基づき全社で情報セキュリティに取り組みます。
        </p>

        <h3>1.経営者の責任</h3>
        <p>当社は、経営者主導で組織的かつ継続的に情報セキュリティの改善・向上に努めます。</p>

        <h3>2.社内体制の整備</h3>
        <p>当社は、情報セキュリティの維持及び改善のために組織を設置し、情報セキュリティ対策を社内の正式な規則として定めます。</p>

        <h3>3.従業員の取組み</h3>
        <p>当社の従業員は、情報セキュリティのために必要とされる知識、技術を習得し、情報セキュリティへの取り組みを確かなものにします。</p>

        <h3>4.法令及び契約上の要求事項の遵守</h3>
        <p>当社は、情報セキュリティに関わる法令、規制、規範、契約上の義務を遵守するとともに、お客様の期待に応えます。</p>

        <h3>5.違反及び事故への対応</h3>
        <p>当社は、情報セキュリティに関わる法令違反、契約違反及び事故が発生した場合には適切に対処し、再発防止に努めます。</p>

        <p class='text-right'>
          制定日:2023年12月1日<br />
          ダブルメガネ株式会社<br />
          代表取締役社長　名城大佑<br />
        </p>
      </div>
    </div>
  </div>
</section>
<%= partial 'layouts/inquiry' %>
<%= partial 'layouts/footer' %>
<%= partial 'layouts/scrollup' %>
