<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <div class='widget'>
          <h3 class='widgetheading'>会社情報</h3>
          <address>
            <strong>ダブルメガネ株式会社</strong>
            <br>
              〒164-0001
              <br>
                東京都中野区中野3-23-46-202
              </br>
            </br>
          </address>
        </div>
      </div>
    </div>
  </div>
  <div id='sub-footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-6'>
          <ul class="list-inline" style="margin-left: 0;">
            <li class="list-inline-item">
              <a href="/privacy">個人情報保護方針</a>
            </li>
            <li class="list-inline-item">
              <a href="/policy">情報セキュリティ基本方針</a>
            </li>
            <li class="list-inline-item">
              <a href="/safety-management">安全管理措置について</a>
            </li>
          </ul>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-6'>
          <div class='copyright'>
            <p>
              <span>&copy; Double Megane 2014 - <%= Time.now.year %> All right reserved.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
