---
title: 個人情報保護方針
---
<%= partial 'layouts/header' %>
<section id='inner-headline'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <ul class='breadcrumb'>
          <li>
            <a href='/'>
              <i class='fa fa-home'></i>
            </a>
            <i class='icon-angle-right'></i>
          </li>
          <li class='active'>安全管理措置について</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id='content'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2'>
        <h2 class='heading'>安全管理措置について</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2'>

        <p>お客様の個人情報への不正なアクセスや漏洩、滅失、き損の防止その他お客様の個人情報の安全管理のために必要かつ適切と考えられる対策を講じます。</p>

        <h3>【安全管理のために講じた措置】</h3>

        <h4>（基本方針の策定）</h4>
        <ul>
          <li>個人データの適正な取扱いの確保のため、「関係法令・ガイドライン等の遵守」、「お客様申出窓口」等についての基本方針として、「個人情報保護方針」を策定しております。</li>
        </ul>
        <h4>（個人データの取扱いに係る規律の整備）</h4>
        <ul>
          <li>取得、利用、保存、提供、削除・廃棄等の段階ごとに、取扱方法等について個人データの取扱規程を策定しております。</li>
        </ul>
        <h4>（組織的安全管理措置）</h4>
        <ul>
          <li>個人データの取扱いに関する責任者を設置するとともに、法や取扱規程に違反している事実又は兆候を把握した場合の責任者への報告連絡体制を整備・徹底しております。</li>
          <li>個人データの取扱状況について、定期的に自己点検を実施するとともに、他部署の者による監査を実施しております。</li>
        </ul>
        <h4>（人的安全管理措置）</h4>
        <ul>
          <li>個人データの取扱いに関する留意事項について、従業者に定期的な研修を実施しております。</li>
          <li>個人データについての秘密保持に関する事項を就業規則に記載しております。</li>
        </ul>
        <h4>（物理的安全管理措置）</h4>
        <ul>
          <li>個人データを取り扱う区域において、従業者の入退室管理を行うとともに、権限を有しない者による個人データの閲覧を防止する措置を実施しております。</li>
          <li>個人データを取り扱う機器、電子媒体及び書類等の盗難又は紛失等を防止するための措置を講じております。</li>
        </ul>
        <h4>（技術的安全管理措置）</h4>
        <ul>
          <li>アクセス制御を実施して、担当者及び取り扱う個人情報データベース等の範囲を限定しております。</li>
          <li>個人データを取り扱う情報システムを外部からの不正アクセス又は不正ソフトウェアから保護する仕組みを導入しております。</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<%= partial 'layouts/inquiry' %>
<%= partial 'layouts/footer' %>
<%= partial 'layouts/scrollup' %>
