---
title: 採用情報
---
<%= partial 'layouts/header' %>
<section id='inner-headline'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <ul class='breadcrumb'>
          <li>
            <a href='/'>
              <i class='fa fa-home'></i>
            </a>
            <i class='icon-angle-right'></i>
          </li>
          <li class='active'>採用情報</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id='content'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <h2 class='heading'>採用情報</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12'>
        <p>
          現在募集はしておりません。
        </p>
      </div>
    </div>
  </div>
</section>
<%= partial 'layouts/inquiry' %>
<%= partial 'layouts/footer' %>
<%= partial 'layouts/scrollup' %>