---
title: 個人情報保護方針
---
<%= partial 'layouts/header' %>
<section id='inner-headline'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <ul class='breadcrumb'>
          <li>
            <a href='/'>
              <i class='fa fa-home'></i>
            </a>
            <i class='icon-angle-right'></i>
          </li>
          <li class='active'>個人情報保護方針</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id='content'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2'>
        <h2 class='heading'>個人情報保護方針</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2'>
        <p>本保護方針は当社が取り扱う個人情報を適切に管理運用するために、遵守するべき基本的事項を定めたものです。</p>
        <ol>
          <li>
            法令・規範の遵守<br />
            当社は個人情報の取り扱いに関する法令、国が定める指針その他の規範を、常に最新状態に維持するとともにこれを遵守いたします。
          </li>
          <li>
            適切な情報管理の徹底<br />
          当社は個人情報の管理者を任命し、個人情報の不正利用・紛失・破壊・改ざん、および漏えいに対し適切な予防ならびに是正に関する措置を講じます。また、全ての就労者に対し｢個人情報の取り扱い｣についての教育訓練を行い、適切な管理に取り組みます。なお、企業情報についても個人情報と同様に適切な管理をいたします。
          </li>
          <li>
            取得および利用目的と範囲<br />
            当社が個人情報をお預かりする際には、その利用目的を明らかにして、必要な範囲で取得いたします。また、同意を得た利用目的の範囲あるいは法令・規範に基づく要請の範囲（以下、「利用目的等の範囲」）を超えた利用、提供、取り扱いの委託は行いません。
          </li>
          <li>
            利用等の制限と管理<br />
            当社は個人情報を守秘し、利用目的等の範囲を超える取り扱いを行わないよう、適切に管理します。また、利用目的等の範囲に基づき、社外と個人情報の授受を行う場合には、厳格な管理の下で取り扱うよう、当社が監理いたします。
          </li>
          <li>
            個人情報保護マネジメントシステムの確立と継続的改善<br />
            当社は個人情報の適切な取り扱いを行うよう規程類および体制を整備して、個人情報保護マネジメントシステムを構築・実施し、これらを継続的に改善してまいります。
          </li>
          <li>
            個人情報の相談および苦情窓口<br />
            当社は「個人情報相談窓口」を設置し、ご本人からの個人情報に関するお問い合わせや苦情に対して、適切かつ誠実、迅速に対応いたします。<br />
            保有個人データまたは第三者提供記録の開示等については、ご本人からの各種要請を受け付け、合理的に対処いたします。
          </li>
          <li>
            本保護方針についてのお問い合わせ先<br />
            当社が、この個人情報保護方針を遵守していないと思われる場合、もしくは当社保有の個人情報に関するお問い合わせなどは、当社「お客様相談室」までご連絡ください。<br />
            〒164-0001 東京都中野区中野3-23-46-202　ダブルメガネ株式会社　お客様相談室
          </li>
        </ol>

        <p class='text-right'>
          制定日:2020年4月1日<br />
          改訂日:2023年12月1日<br />
          ダブルメガネ株式会社<br />
          代表取締役社長　名城大佑<br />
        </p>
      </div>
    </div>
  </div>
</section>
<%= partial 'layouts/inquiry' %>
<%= partial 'layouts/footer' %>
<%= partial 'layouts/scrollup' %>
